
:root {
	--primary: #27a8e0;
	--secondary: #dc3545;
	--color-white: #ffffff;
	--color-red: red;
	--color-3: #28a745;
	--color-4: #17a2b8;
	--color-5: #001a3d;
	--color-6: #39a2d8;
	--color-7: #9ec237;
	--color-8: #e9791c;
  --color-9: #161716;
	--chat-right-bubble: #d7fdd1;
	--chat-left-bubble: #fff;
}
  
.menu{
      background-color:var(--color-9);
      color:var(--color-white);
      width: 250px; 
      height: 100vh; 
      background-color: var(--color-9);
      color: white;
      top: 0;
      left: 0;
      padding: 20px;
}
.menu .menu-ul{
   line-height:50px;
   
}