.wrapper, body, html {
  min-height: 100%;
}
body {
  margin:0;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9ecef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
  
}
div,p,body{
	margin:0;
	padding:0;
}
.center{
	text-align:center;
}
.sign-in-form{
  background-color: #fff;
  border-top:0;
  color: #666;
  padding: 60px 20px 40px 20px;
  box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  word-wrap:break-word;
  background-color: #fff;
  background-clip: border-box;
  border:0 solid rgba(0,0,0,.125);
  border-radius:.25rem;
  margin-bottom:20px;
}
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control, .input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex:1 1 auto;
  width: 1%;
  min-width: 0;
}
.form-control-lg {
  height: calc(2.875rem + 2px);
  padding:.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius:.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 15px 30px 15px 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border:1px solid #ced4da;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(206, 212, 218);
  border-radius:.25rem;
  box-shadow: inset 0 0 0 transparent;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 15px;
}
.input-group-icon{
  position:absolute;
  right: 10px;
  top: 10px;
  color: #777;
}
input[type="submit"] {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-top-color: rgb(99, 94, 190);
    border-right-color: rgb(99, 94, 190);
    border-bottom-color: rgb(99, 94, 190);
    border-left-color: rgb(99, 94, 190);
    color: rgba(255,255,255,.9);
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: .875rem;
    transition: all .2s ease;
    height: 38px;
    vertical-align: middle;
    font-weight: 300;
    cursor: pointer;
	box-shadow: 0 5px 10px rgba(99,94,190,.4) !important;
	display:block;
	width:100%;
}
input[type="submit"]:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}
a{
	text-decoration:none;
	color: #212529;
}
a.link:hover{
	text-decoration:underline;
}
.poweredby{
	font-weight:bold;
	color:var(--primary);
}
#animation{
	display:none;
}
.spinner {
  height: 20px;
  width: 20px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid var(--primary);
  border-right-color: transparent;
  border-radius: 50%;
  margin-left:auto;
  margin-right:auto;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
.information p, .success p, .warning p,.validation p,.error p{
	padding-bottom: 3px;
}
.information {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/info.png');
}
.success {
	color: #4F8A10;
	background-color: #88ffd1;
	background-image:url('../images/success.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/warning.png');
}
.error,.success,.warning,.information {
	margin: 10px 0px;
	padding: 5px 5px 5px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/error.png');
}
.cursor{
	cursor:pointer;
}
#feedback{
	position: fixed;
	bottom: -10px;
	right: 0;
	z-index: 1000000000000000000000000000000016;
}
.error .cursor,.success .cursor{
	margin-left:10px;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #13a8ff;
  --secondary: #000;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

